<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>deigo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>521855A71CE307EA000EF419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521855C01CE307EA000EF419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521855CB1CE307EA000EF419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
